<!-- <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="searchTerm" (keyup)="searchProducts()" aria-label="Search">
</mat-form-field>

<div *ngFor="let product of products" class="product">
    <img [src]="product.image" alt="{{product.title}}">
    <h3>{{ product.title }}</h3>
    <p *ngIf="product.price">{{ product.price | currency }}</p> <!-- Uncommented and added *ngIf for safety -->
    <!-- <button mat-raised-button color="primary" [routerLink]="['/product', product.id]" aria-label="View Details {{product.title}}">View Details</button> -->
<!-- </div> --> -->